@using MovieTheatreMVC.Models.ViewModels.Areas.AdminAreaViewModels.Controllers.MovieControlleViewModels;
@model AddMovieViewModel

<form method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" required />
    </div>
     
    <div>
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3" required></textarea>
    </div>
     
    <div>
        <label asp-for="ReleaseDate" class="form-label"></label>
        <input asp-for="ReleaseDate" class="form-control" required/>
    </div>

    <div>
        <label asp-for="RunningTimeMinutes" class="form-label"></label>
        <input asp-for="RunningTimeMinutes" class="form-control" required />
    </div>

    <div>
        <label asp-for="AgeRestriction" class="form-label"></label>
        <input asp-for="AgeRestriction" class="form-control" required />
    </div>

    <div>
        <label asp-for="MovieCoverImage" class="form-label"></label>
        <div class="mb-3">
            <label for="formFile" class="form-label">Choose a file</label>
            <input class="form-control" asp-for="MovieCoverImage" id="formFile">
        </div> 
    </div>

    <div>
        <label asp-for="GenreString" class="form-label"></label>
        <input asp-for="GenreString" class="form-control" required />
    </div>

    <div>
        <label asp-for="CanPurchaseTickets" class="form-label"></label>
        <input asp-for="CanPurchaseTickets" type="checkbox" class="form-check" />
    </div>

    <br />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>